/* You can add global styles to this file, and also import other style files */
@import url('https://fonts.googleapis.com/css2?family=Playwrite+PE:wght@100..400&display=swap');
@import url("assets/css/lineawesome/css/line-awesome.min.css");
@import "bootstrap/dist/css/bootstrap.css";
@import "primeng/resources/themes/bootstrap4-light-blue/theme.css";
@import "primeng/resources/primeng.min.css";
:root{
  --page-bg-color: #ede7e7;
  --todo-done-bg-color: #faeeee;
  --left-menu-width : 15rem;
  --top-nav-height: 70px;
  --bg-left-nav: #dceaf8 !important;
  --login-primary-bg-color : #3ab98c;
}

.playwrite-pe-400 {
  font-family: "Playwrite PE", "Bodoni Bk BT",-apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol" ,cursive;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}
.p-button{
  border-radius: 7px !important;
}
body,.bg-gray{
  background-color: var(--page-bg-color);
}
div.todo-container{
  min-height: 90vh;
}

div.todos{
  width: 550px;
  min-height : 600px;
  border-radius: 10px;
  padding : 3rem 2rem;
  background-color: white;
}
div.todo-bg{
  background-color: var(--todo-done-bg-color);
}
.todo-item{
  transition : all 300ms linear;
}
.todo-done{
  text-decoration: line-through;
  text-decoration-thickness: 2px;
  text-decoration-color: #3ddc1d;
  color: #126205;
  font-size:1.2rem;

}
.todo-not-done{
  font-weight: bold;
  color: #56595f;
}
div.todo-border{
  border-bottom: 2px solid rgba(153, 150, 150, 0.54);
}

/* START base-layout component styles*/
.grid-container {
  display: grid;
  grid-template-columns: minmax(var(--left-menu-width), var(--left-menu-width)) minmax(max-content, auto);

}

.left-nav {

  background-color:var(--bg-left-nav) ;
  z-index: 15;
}
.left-nav div.left-nav-sticky{
  margin-top: 10px;
  position: sticky;
  top: 50px;
  left: 0;

}

.sub-menu-section {
  width: calc(var(--left-menu-width) - 10px);
  align-content: stretch;
}

div.sub-menu-items {
  margin-top: calc(var(--top-nav-height) + 60px);
  position: sticky;
  top: calc(var(--top-nav-height) + 100px);
}

.top-nav {
  position: fixed;
  height: var(--top-nav-height);
  background-color: #ffffff;
  left: var(--left-menu-width);
  z-index: 10;
  top: 0;
  right: 0;
}

.top-nav .top-nav-header {

}

div.main-section {
  margin-top: calc(var(--top-nav-height) + 40px);
}

.menu-list-container {
  margin-top: 50px;
}


.menu-list li {
  margin-bottom: 5px;
}

.menu-list li a {
  text-decoration: none;
  display: flex;
  justify-content: start;
  align-items: center;
  color: #464545;
  padding: 0.78rem;
  border-radius: 9px;
  transition: all 400ms linear;
}

.menu-list li a i {
  margin-right: 1.4rem;
}

.menu-list li a.active, .menu-list li a:hover {
  background-color: #1f59c5;
  color: white !important;
  font-weight: 700;
  box-shadow: -4px 5px 0 2px #2c2c76;
}

.left-menu-sub-menus li {
  margin-bottom: 10px;
}

.left-menu-sub-menus li a {
  text-decoration: none;
  transition: all 400ms linear;
  display: flex;
  align-items:center;
  color: #1e5094;
  border-radius: 0px;
  padding: 7px 0.85rem
}
.left-menu-sub-menus li a i{
  margin-right : 1.3rem;
}

.left-menu-sub-menus li a:hover, .left-menu-sub-menus li a.active {
  color: #585353;
  font-weight: 700;
}
.left-menu-sub-menus li a.active {
  background-color: var(--bg-left-nav);
}

/*END of base-layout component styles*/
