/* You can add global styles to this file, and also import other style files */
@import url('https://fonts.googleapis.com/css2?family=Playwrite+PE:wght@100..400&display=swap');
@import url("assets/css/lineawesome/css/line-awesome.min.css");
@import "bootstrap/dist/css/bootstrap.css";
@import "primeng/resources/themes/bootstrap4-light-blue/theme.css";
@import "primeng/resources/primeng.min.css";
:root{
  --page-bg-color: #ede7e7;
  --todo-done-bg-color: #faeeee;
  --left-menu-width : 260px;
  --top-nav-height: 70px;
  --bg-left-nav: #e7f2fc !important;
  --login-primary-bg-color : #1c4e49;
}

.playwrite-pe-400 {
  font-family: "Playwrite PE", cursive;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}
.p-button{
  border-radius: 7px !important;
}
body,.bg-gray{
  background-color: var(--page-bg-color);
}
div.todo-container{
  min-height: 90vh;
}

div.todos{
  width: 550px;
  min-height : 600px;
  border-radius: 10px;
  padding : 3rem 2rem;
  background-color: white;
}
div.todo-bg{
  background-color: var(--todo-done-bg-color);
}
.todo-item{
  transition : all 300ms linear;
}
.todo-done{
  text-decoration: line-through;
  text-decoration-thickness: 2px;
  text-decoration-color: #3ddc1d;
  color: #126205;
  font-size:1.2rem;

}
.todo-not-done{
  font-weight: bold;
  color: #56595f;
}
div.todo-border{
  border-bottom: 2px solid rgba(153, 150, 150, 0.54);
}
